<% provide :title, t(".help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".get" %>
    <a href="http://www.railstutorial.org/help">
  <%= t ".tutorial_help" %></a>.
  <%= t ".sample_get" %>
  <a href="http://www.railstutorial.org/book">
  <em><%= t ".tutorial" %></em> <%= t ".book" %></a>.
</p>
