<% provide :title, t(".home") %>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="micropost_form">
        <%= render "shared/micropost_form" %>
      </section>
    </aside>
       <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron" id="background_change">
    <h1><%= t ".welcome" %></h1>
    <h2>
      <%= t ".this" %>
      <a href="http://www.railstutorial.org/"><%= t ".ruby_on_rails" %></a>
      <%= t ".app" %>
    </h2>
    <%= link_to t(".signup"), signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  <%= link_to image_tag(t ".image", alt: t(".logo")), "http://rubyonrails.org/" %>
<% end %>
